<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.bootjdbc.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.sharding.bootjdbc.entity.OrderInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
</mapper>