<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.bootjdbc.mapper.ProductInfoMapper">
  <resultMap id="BaseResultMap" type="com.sharding.bootjdbc.entity.ProductInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_info_id" jdbcType="BIGINT" property="productInfoId" />
    <result column="store_info_id" jdbcType="BIGINT" property="storeInfoId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="region_code" jdbcType="VARCHAR" property="regionCode" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
  </resultMap>
</mapper>