<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.bootjdbc.mapper.StoreInfoMapper">
  <resultMap id="BaseResultMap" type="com.sharding.bootjdbc.entity.StoreInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="reputation" jdbcType="INTEGER" property="reputation" />
    <result column="region_code" jdbcType="VARCHAR" property="regionCode" />
  </resultMap>
</mapper>